body{
	background-color: gold;
}

p{
	font-size: 20px;
}

.lewy{
	float: left;
	width: 50%;
}

.prawy{
	float: right;
	width: 50%;
}

ul li{
	display: inline;
}

.fot{
	text-align:center;
	float:left;
    width:100%;
}

.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.btn {
    background-color: greenyellow;

}
html {
  scroll-behavior: smooth;
}


